<% include ./partials/header %> 
<style>
	 #login{
		 text-align: center;
		 margin: 25px;
}
	
</style>
<h1 id ="login">Login!</h1>
<form id ="login" action="/login" method="POST">
    <input type="text" name="username" placeholder="username"style="padding: 5px;" ><br><br>
    <input type="password" name="password" placeholder="password" style="padding: 5px;">
	<br><br>
    <input class="btn-primary" type="submit" value="Login!" style="padding: 5px;">
</form>

<% include ./partials/footer %> 